################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BitmapWorkstation/bin/Debug
/BitmapWorkstation/obj/Debug
/BitmapWorkstation/obj/x64/Debug/TempPE/Properties.Resources.Designer.cs.dll
/BitmapWorkstation/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/BitmapWorkstation/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/BitmapWorkstation/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/BitmapWorkstation/obj/x64/Debug/MainWindow.g.i.cs
/BitmapWorkstation/obj/x64/Debug/MainWindow.g.cs
/BitmapWorkstation/obj/x64/Debug/MainWindow.baml
/BitmapWorkstation/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/BitmapWorkstation/obj/x64/Debug/BitmapWorkstation_MarkupCompile.lref
/BitmapWorkstation/obj/x64/Debug/BitmapWorkstation_MarkupCompile.i.lref
/BitmapWorkstation/obj/x64/Debug/BitmapWorkstation_MarkupCompile.i.cache
/BitmapWorkstation/obj/x64/Debug/BitmapWorkstation_MarkupCompile.cache
/BitmapWorkstation/obj/x64/Debug/BitmapWorkstation.Properties.Resources.resources
/BitmapWorkstation/obj/x64/Debug/BitmapWorkstation.pdb
/BitmapWorkstation/obj/x64/Debug/BitmapWorkstation.g.resources
/BitmapWorkstation/obj/x64/Debug/BitmapWorkstation.exe
/BitmapWorkstation/obj/x64/Debug/BitmapWorkstation.csprojResolveAssemblyReference.cache
/BitmapWorkstation/obj/x64/Debug/BitmapWorkstation.csproj.GenerateResource.Cache
/BitmapWorkstation/obj/x64/Debug/BitmapWorkstation.csproj.FileListAbsolute.txt
/BitmapWorkstation/obj/x64/Debug/App.g.i.cs
/BitmapWorkstation/obj/x64/Debug/App.g.cs
*.suo
*.cs
